# Ex07 - Regressão Linear
### Estimando o valor de um diamante

In [17]:
#Libs
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
#Carregar os dados
df_diamonds = pd.read_csv('dados/diamonds.csv')

#Verficar a tabela
df_diamonds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

#### Checando os dados

In [5]:
#Checando por dados vazios
df_diamonds.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [55]:
#Checando o tipo das dados
df_diamonds.dtypes

Unnamed: 0      int64
carat         float64
cut             int32
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [46]:
df = df_diamonds.groupby(['cut']).count()
df

,Unnamed: 0,carat,color,clarity,depth,table,price,x,y,z
cut,,,,,,,,,,
1,1610,1610,1610,1610,1610,1610,1610,1610,1610,1610
2,4906,4906,4906,4906,4906,4906,4906,4906,4906,4906
3,21551,21551,21551,21551,21551,21551,21551,21551,21551,21551
4,13791,13791,13791,13791,13791,13791,13791,13791,13791,13791
6,12082,12082,12082,12082,12082,12082,12082,12082,12082,12082

### Treinamento

In [85]:
df_x = df_diamonds[['carat', 'depth', 'table']]
df_y = df_diamonds[['price']]

#Definir dataset de treinamento e teste
treino_x, test_x, treino_y, test_y = train_test_split(df_x, df_y, test_size=0.2)

### Calculo da Regreção Linear

In [86]:
reg = linear_model.LinearRegression()

#treino
reg.fit(treino_x, treino_y)
reg.coef_

array([[7864.61099515, -148.63093884, -103.06284183]])

In [87]:
pred_y = reg.predict(test_x)

r2 = r2_score(test_y, pred_y)
r2*100

85.51483388089207